body {
    width: 100%;
    /* height: 100vh; */
    background-position: center;
    background-size: cover;
    background-image: url("../Images/background.png");
    background-repeat: no-repeat;
    margin: 0 auto;
 }
header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    width: 100%;
    padding-top: 1px;
}
.journey {
    width: 105px;
    height: 15px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 238px;
    margin-right: 559px;
    padding-top: 17px;
    transition: color 0.4s linear;
}
.journey:hover {
    color: #44b077;
}
  
.header-right {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    display: inline-block;
}
.header-right::before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 20px;
    background-color: #5a5856;
    margin-left: 15px;
}  
.link-log {
    color: #44b077;
    text-decoration: none;
}
.sprite {
  display: inline-block;
  width: 125px;
  height: 30px;
  background: url("../Images/css_sprites.png");
}
.icon-calc {
    width: 19px; 
    height: 19px;
    margin-right: 15px;
    background: url("../Images/css_sprites.png");
    background-position: -15px -15px;
    transition: color 1s linear;
}
.icon-calc:hover {
    width: 19px; 
    height: 19px;
    background: url("../Images/css_sprites.png");
    background-position: -64px -15px;
}
.icon-message {
    width: 28px; 
    height: 20px;
    margin-right: 15px;
    background: url("../Images/css_sprites.png");
    background-position: -213px -15px;
    transition: color 1s linear;
}
.icon-message:hover {
    width: 28px; 
    height: 20px;
    background: url("../Images/css_sprites.png");
    background-position: -271px -15px;
}
.icon-compas {
    width: 20px; 
    height: 20px;
    margin-right: 15px;
    background: url("../Images/css_sprites.png");
    background-position: -163px -15px;
    transition: color 1s linear;
}
.icon-compas:hover {
    width: 20px; 
    height: 20px;
    background: url("../Images/css_sprites.png");
    background-position: -113px -15px;
}

            /* FORM */

.form {
    width: 444px;
    height: 584px;
    background: #ffffff;
    border-radius: 16px;
    margin: 50px auto;
}
.form-head {
    position: relative;
 }
.green-box {
    width: 18px;
    height: 18px;
    background-color: #44b077;
    position: absolute;
    top: 26px;
}
.form-head-sign {
    font-family: veranda, sans-serif;
    font-size: 20px;
    color: #696969;
    margin: 0 auto;
    position: absolute;
    left: 46px;
    top: 24px;
}
.greenLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #44b077;
    position: absolute;
    top: 28px;
    right: 55px;
}
.btn-social {
    padding: 70px 50px 15px 50px;
}
.button-name {
    color: white;
    text-decoration: none;
    font-family: veranda sans-serif;
    font-size: 21px;
    vertical-align: bottom;
}
.btn-facebook .button-name::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 24px;
    background-color: #224387;
    margin-right: 20px;
}
.btn-facebook {
    background-color: #264b96;
    width: 169px;
    height: 46px;
    border-radius: 5px;
    border-width: 0;
}
.fb-logo {
    float: left;
    padding-left: 9px;
    padding-top: 3px;
}
.btn-gmail .button-name::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 24px;
    background-color: #af3a28;
    margin-right: 18px;
}  
.btn-gmail {
    background-color: #c3412c;
    width: 169px;
    height: 46px;
    border-radius: 5px;
    border-width: 0;
    float: right;
}
.gmail-logo {
    float: left;
    padding-left: 9px;
    padding-top: 3px;
}
.lines-or {
   color: #848484;
   text-align: center;
   font-family: veranda, sans-serif;
   font-size: 15px;
   padding: 15px 0 15px 0;
}
.lines-or::before {
    content: "\2014\2014\2014\2014\2014\2014\2014\2014\2014\2014\00A0\00A0";
    width: 135px;
    height: 1px;
    color: #eaeaea;
}
.lines-or::after {
    content: "\00A0\00A0\2014\2014\2014\2014\2014\2014\2014\2014\2014\2014";
    width: 135px;
    height: 1px;
    color: #eaeaea;
}
.inputText {
    width: 322px;
    height: 46px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    color: #5c5c5c;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-bottom: 17px;
    margin-left: 53px;
    padding: 1px 1px 1px 16px;
    box-shadow: 0 4px 10px 0 rgba(32, 33, 36, .28);
}
input::placeholder {
    color: #bebebe;
}

.inputText:focus {
    outline: none;
}
.checkbox-container {
    padding: 20px 55px;
    /* position: relative; */
    /* top: 12px;
    left: 44px; */
}
.label-chkbx {
    color: #848484;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 16px;
    padding-left: 7px;
}
/* .checkbox-input {
    display: none;
}
.label-chkbx::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.label-chkbx::after {
    content: "";
    display: block;
    width: 16px;
    background: url(../Images/check.png) none;
    background-size: 16px 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
} */
.terms-conditions a  {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #44b077;
}
.submit {
    width: 336px;
    height: 46px;
    background-color: #329a65;
    color: #ffffff;
    border-radius: 5px;
    border-width: 0;
    font-size: 18px;
    padding: 0 auto;
    margin-left: 60px;
    }