body {
    background-color: #404040;
}
.main-table {
    display: table;
    width: 1182px;
    height: 726px;
    border: 15px solid #3a4965;
    border-collapse: collapse;
    border-spacing: 1px;
    background-color: white;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px auto;
    text-align: center;
    vertical-align: middle;
}
.row1-2-col1 {
    width: 310px;
    font-size: 18px;
    padding: 40px auto;
}
.pricing-plan {
    font-size: 25px;
}
.row1-col2 {
    width: 277px;
    color: white;
    font-size: 20px;
    background-color: #89c331;
    padding: 20px auto;
}
.row1-col3 {
    width: 277px;
    color: white;
    font-size: 25px;
    background-color: #f04a56;
    padding: 20px auto;
}
.row1-col4 {
    width: 277px;
    color: white;
    font-size: 20px;
    background-color: #20807c;
    padding: 20px auto;
}
.row2-col2 
