.Mainsection {
    /* padding: 0;  как на макете*/
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    background-image: url("../Images/MilanoBkgrnd.png");
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: hue;
    box-sizing: border-box;
    text-decoration: none;
}
.header {
    width: 1266px;
    box-sizing: border-box;
    padding: 1px 85px 1px 145px;
    font-family: veranda, sans-serif;
    font-weight: bold;
}
.minipicture {
    background-image: url("../Images/logo.png");
    margin: 45px 0 15px 0;
    width: 49px;
    height: 44px;
    float: left;
}
.milano-holidays {
    margin-left: 15px;
}
.bigmilan {
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 40px 0 0 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}
.holidays {
    display: block;
    margin: 0;
    padding: 0 0 0 53px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
.header-right-side {
    float: right;
    margin: 50px 0 0 0;
}
.header-right-side:hover{
    color: #f26522;
}
.header-left-side {
    float: left;
}
.mail {
    display: block;
    margin: 0 0 0 45px;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;  
}
.phone {
    display: block;
    margin: 2px 0 0 45px;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px; 
}
.cards{
    clear: both;
    margin: 0 auto;
    padding: 36px 0 0 0;
    width: 1063px;
}
.card-shopping {
    float: left;
    margin-right: 55px;
}
.card-sightseeing{
    float: left;
    margin-right: 55px;
}
.card-food{
    float: left;
}
.card-bars {
    float: left;
    margin-right: 55px;
}
.card-art {
    float: left;
    margin-right: 55px;
}
.card-walk{
    float: left;
}
.card-txt{
    color: #ffffff;
    font-family: veranda, sans-serif;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
}
.card-hover {
    background-color: #f26522;
    width: 312px;
    height: 63px;
}
.from {
    color: #ffffff;
    font-family: veranda, sans-serif;
    font-size:10pt;
    text-decoration: none;
    text-align: left;
    margin: 0 auto;
    padding: 16px 25px 2px 25px;
}
.price {
    color: #ffffff;
    font-family: veranda, sans-serif;
    font-size:20px;
    text-decoration: none;
    margin: 0 auto;
    padding: 0 25px 0 25px;
    display: inline-block;
}
.details{
    color: #ffffff;
    font-family: veranda, sans-serif;
    font-size:15px;
    text-decoration: none;
    display: inline-block;
    margin: 0 0 8px 116px;
}


footer {
    color: white;
    width: 349px;
    height: 12px;
}