.bgrnd {
    /* height: 100vh; */
    /* width: 100vw; */
    /* background-size: 100%; */

    background-image: url("../Images/MilanoBkgrnd.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: hue;
    width: 1366px;
    margin: 0 auto;
}
.header {
    width: 1266px;
    box-sizing: border-box;
    padding: 1px 63px 1px 163px;
    font-family: veranda, sans-serif;
    font-weight: bold;
}
.header-left-side {
    float: left;
    text-decoration: none;
    display: block;
    padding: 40px 13px 0 7px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

.logo:hover {
   content: url("../Images/logo_orange.png");
   transition: 1s;
}
.milano-holidays {
    display: inline-block;
    padding: 40px 0 0 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}
.milano-holidays:hover{
    color: #f26522;
    transition: 1s;
}
.holidays {
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
.holidays:hover{
    color: #f26522;
    transition: 1s;
}
.header-right-side {
    float: right;
    margin: 50px 0 0 0;
}
.mail {
    display: block;
    margin: 0 0 0 45px;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;  
}
.phone {
    display: block;
    margin: 2px 0 0 129px;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px; 
}
.gallery{
    clear: both;
    margin: 0 auto;
    padding: 40px 111px 40px 161px;
    width: 1063px;
    height: 500px;
}
.border {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
.card{
    float: left;
    padding: 0 47px 70px 0;
    width: 307px;
    height: 200px;
    text-decoration: none;
}
.card-img{
    border-top-color: #ffffff;
}
.card-txt{
    color: #ffffff;
    font-family: veranda, sans-serif;
    font-size: 17px;
    text-align: center;
}
.card-txt:hover {
    color: #f26522;
}
.card-hover {
    background-color: #f26522;
    width: 307px;
    height: 63px;
    position: absolute;
    display: none;
    bottom: -63px;
}
.border:hover .card-hover {
    display: block;
    position: absolute;
    bottom: 0px;
    z-index: 9999;
    transition: 1s;
}
.from {
    color: #ffffff;
    font-family: veranda, sans-serif;
    font-size:10pt;
    text-decoration: none;
    text-align: left;
    margin: 0 auto;
    padding: 16px 25px 2px 25px;
}
.price {
    color: #ffffff;
    font-family: veranda, sans-serif;
    font-size:20px;
    text-decoration: none;
    margin: 0 auto;
    padding: 0 25px 0 25px;
    display: inline-block;
}
.details{
    color: #ffffff;
    font-family: veranda, sans-serif;
    font-size:15px;
    text-decoration: none;
    display: inline-block;
    margin: 0 0 8px 116px;
}
footer {
    display: block;
    color: white;
    clear: both;
    top: 60px;
    text-align: center;
    padding: 43px 0 20px 0;
}
